@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-mini-header {
  background-color: #0282f9;
  height: 30px;
}

.top-mini-header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 89%;
  height: 100%;
}

.top-mini-header nav span {
  margin-right: 80px;
}

.top-mini-header nav span a {
  color: white;
  font-size: 12px;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.bottom-header .logo {
  padding-right: 20px;
  width: 100px;
}

.bottom-header nav ul {
  display: flex;
}

.bottom-header nav ul li {
  padding-inline: 10px;
}

.jumbotron {
  height: 300px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

.current-serie {
  position: absolute;
  top: 98%;
}

.containerProducts {
  background-color: black;
  color: white;
  padding-block: 40px;
}

.container {
  width: 80%;
  margin: auto;
}

.btnspecial {
  padding: 15px;
  background-color: #0282f9;
  width: 180px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 12px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products .product {
  width: calc(16.6666666667% - 10px);
  padding-block: 10px;
}

.products .product img {
  width: 120px;
  display: block;
  margin-inline: auto;
}

.products .product .title {
  text-align: center;
}

.section2 {
  height: 150px;
  background-color: #0282f9;
}

.section2 .product_placement {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  align-items: center;
}

.section2 .product_placement .product_accessory {
  width: 100px;
  display: flex;
  font-size: 12px;
}

.section2 .product_placement .product_accessory img {
  width: 60px;
}

.section2 .product_placement .product_accessory .textAccessory {
  align-self: center;
  padding-left: 15px;
  color: white;
}

.colorline {
  background-color: #0282f9;
  height: 80px;
}

.container2 {
  width: 60%;
  margin: auto;
}

.comic-info {
  position: relative;
}

.comicCover {
  width: 150px;
  position: absolute;
  top: -40%;
  z-index: 99;
}

.comicCover .upComic {
  position: absolute;
  top: 0%;
}

.comicCover .downComic {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.comicCover .btntiny {
  font-size: 10px;
  color: white;
  background-color: #00a9d9;
  padding: 3px;
  text-align: center;
  padding-inline: 5px;
}

.bar {
  display: flex;
  width: 86%;
}

.border {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.comicSection {
  padding-block: 50px;
}

.comicSection .greenbar {
  color: #9ef392;
  display: flex;
  background-color: #55ba59;
  padding: 18px;
  border-bottom: 1px solid black;
}

.comicSection .greenbar .colortext {
  color: white;
}

.comicSection .greenbar .price {
  width: 55%;
}

.comicSection .greenbar .available {
  width: 20%;
}

.comicSection .maxwidth {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.comicSection .lowwidth {
  width: 25%;
  justify-content: center;
  color: white;
}

.comicSection .description {
  width: 76%;
  padding-top: 10px;
  font-size: 14px;
  line-height: 22px;
}

.adv {
  width: 300px;
  position: absolute;
  top: 29%;
  right: 12%;
}

.greysection {
  background-color: #f6f6f6;
}

.container3 {
  width: 50%;
  margin: auto;
}

.details {
  display: flex;
}

.details .talent {
  width: 55%;
}

.details h3 {
  padding-block: 30px;
}

.specific {
  display: flex;
  padding-bottom: 10px;
  width: 90%;
  border-top: 1px solid black;
  padding-top: 10px;
}

.second-text {
  font-size: 10px;
}

.artists {
  width: 55%;
  font-size: 13px;
}

.area-artist {
  padding-left: 60px;
  color: #72b5db;
}

.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

