.jumbotron {
    height: 300px;
    background-image: url(../../../public/img/jumbotron.jpg);
    background-size: cover;
}


.containerProducts{
    background-color: black;
    color: white;
    padding-block: 40px;
}

.container {
    width: 80%;
    margin: auto;

}

.products {
    display: flex;
    flex-wrap: wrap;
    .product {
        width: calc(100% / 6 - 10px); 
        padding-block: 10px;
        img {
            width: 120px;
            display: block;
            margin-inline: auto;
        }
        .title{
            text-align: center;
        }
    }
}


.section2 {
    height: 150px;
    background-color: $main_color;
    .product_placement {
        display:flex;
        justify-content: space-evenly;
        height: 150px;
        align-items: center;
        .product_accessory{
            width: 100px;
            display: flex;
            font-size: 12px;
            img {
                width: 60px;
            }
        .textAccessory{
            align-self: center;
            padding-left: 15px;
            color: white;
        }
        }
    }
 
}